@model TarifacaoEnergiaEletrica.Models.ContaModel
@{
    ViewBag.Title = "Cadastro Conta";

    var meses = new SelectList(
                new List<SelectListItem>
                {
                    new SelectListItem {Text = "JAN", Value = "01"},
                    new SelectListItem {Text = "FEV", Value = "02"},
                    new SelectListItem {Text = "MAR", Value = "03"},
                    new SelectListItem {Text = "ABR", Value = "04"},
                    new SelectListItem {Text = "MAI", Value = "05"},
                    new SelectListItem {Text = "JUN", Value = "06"},
                    new SelectListItem {Text = "JUL", Value = "07"},
                    new SelectListItem {Text = "AGO", Value = "08"},
                    new SelectListItem {Text = "SET", Value = "09"},
                    new SelectListItem {Text = "OUT", Value = "10"},
                    new SelectListItem {Text = "NOV", Value = "11"},
                    new SelectListItem {Text = "DEZ", Value = "12"},
               }
               , "Value"
               , "Text"
            );

    var anos = new SelectList(
            new List<SelectListItem>
            {
                    new SelectListItem {Text = "2015", Value = "2015"},
                    new SelectListItem {Text = "2014", Value = "2014"},
                    new SelectListItem {Text = "2013", Value = "2013"},
                    new SelectListItem {Text = "2012", Value = "2012"},
                    new SelectListItem {Text = "2011", Value = "2011"},
                    new SelectListItem {Text = "2010", Value = "2010"},
                    new SelectListItem {Text = "2009", Value = "2009"},
                    new SelectListItem {Text = "2008", Value = "2008"},
                    new SelectListItem {Text = "2007", Value = "2007"},
                    new SelectListItem {Text = "2006", Value = "2006"},
                    new SelectListItem {Text = "2005", Value = "2005"},
                    new SelectListItem {Text = "2004", Value = "2004"},
           }
           , "Value"
           , "Text"
        );

}

<h2>Cadastro Conta</h2>

@using (Html.BeginForm("CadastroConta", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken() //prevenção contra CSRF
    @Html.ValidationSummary(true)

    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }
    @Html.HiddenFor(Model => Model.IdFabrica)
    <table>
        <tr>
            <td><label>Data Referencia:</label></td>
            <td>
                @Html.DropDownListFor(Model => Model.DataReferenciaMes, meses)
                @Html.DropDownListFor(Model => Model.DataReferenciaAno, anos)
            </td>
        </tr>
        <tr>
            <td><label>Demanda TUSD:</label></td>
            <td>@Html.TextBoxFor(Model => Model.DemandaTUSD)</td>
        </tr>
        <tr>
            <td><label>Consumo na ponta:</label></td>
            <td>@Html.TextBoxFor(Model => Model.ConsumoNP)</td>
        </tr>
        <tr>
            <td><label>Consumo fora da ponta:</label></td>
            <td>@Html.TextBoxFor(Model => Model.ConsumoFP)</td>
        </tr>
        <tr>
            <td><label>Total pago:</label></td>
            <td>@Html.TextBoxFor(Model => Model.Total)</td>
        </tr>
        <tr>
            <td><label>Valor de ultrapassagem fora de ponta:</label></td>
            <td>@Html.TextBoxFor(Model => Model.ConsumoUltrapassagemFP)</td>
        </tr>
        <tr>
            <td><label>Valor de ultrapassagem na de ponta:</label></td>
            <td>@Html.TextBoxFor(Model => Model.ConsumoUltrapassagemNP)</td>
        </tr>
        <tr>
            <td><label>Valor de ultrapassagem:</label></td>
            <td>@Html.TextBoxFor(Model => Model.ConsumoUltrapassagem)</td>
        </tr>
        <tr>
            <td><input type="submit" value="Salvar" /></td>
        </tr>
    </table>
}

<div>
    @Html.ActionLink("Voltar para lista", "ListaContas")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

