@model List<TarifacaoEnergiaEletrica.Models.Fabrica>
@{
    ViewBag.Title = "Lista Fabricas";
}

<h2>ListaFabricas</h2>

<table>
    <tr>
        <th>CNPJ</th>
        <th>Endereco</th>
        <th>Contas</th>
        <th>Editar</th>
    </tr>

    @if (Model != null)
    {
        foreach (var f in Model)
        {
            <tr>
                <td>@f.CNPJ</td>
                <td>@f.Endereco</td>
                <td>@Html.ActionLink("ListaContas", "Home", new { id = @f.IdFabrica})</td>
            </tr>
        }
    }
</table>

<div>@Html.ActionLink("CadastroFabrica", "CadastroFabrica")</div>

