@model List<TarifacaoEnergiaEletrica.Models.Fabrica>
@{
    ViewBag.Title = "Fabricas";
    WebGrid grid = new WebGrid(Model);
}

<h2>Fabricas:</h2>

@grid.GetHtml(columns: new []
{
    grid.Column("CNPJ"),
    grid.Column("Endereco",header: "Endereço"),
    grid.Column("NomeDistribuidora",header:"Distribuidora"),
    grid.Column(header: "", format:(item) => Html.ActionLink("Ver contas", "VisualizarContas", new { IdFabrica = item.IdFabrica})),
    grid.Column(header: "", format:(item) => Html.ActionLink("Editar", "EditarFabrica", new { IdFabrica = item.IdFabrica})),
    grid.Column(header: "", format:(item) => Html.ActionLink("Excluir", "ExcluirFabrica", new { IdFabrica = item.IdFabrica})),
})

@*
<table>
    <tr>
        <th>CNPJ</th>
        <th>Endereco</th>
        <th>Contas</th>
        <th>Editar</th>
    </tr>
    
    @if (Model != null)
    {
        foreach (var f in Model)
        {
            <tr>
                <td>@f.CNPJ</td>
                <td>@f.Endereco</td>
                <td>@Html.ActionLink("ListaContas", "Home", new { id = @f.IdFabrica})</td>
            </tr>
        }
    }
</table>
*@
<div>@Html.ActionLink("Nova Fabrica", "CadastroFabrica")</div>

