@model TarifacaoEnergiaEletrica.Models.Usuario

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken() //prevenção contra CSRF
    @Html.ValidationSummary(true)

    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }
    <table>
        <tr>
            <td>@Html.LabelFor(Model => Model.Email)</td>
            <td>@Html.TextBoxFor(Model => Model.Email)</td>
            <td>@Html.ValidationMessageFor(Model => Model.Email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.Senha)</td>
            <td>@Html.PasswordFor(Model => Model.Senha)</td>
            <td>@Html.ValidationMessageFor(Model => Model.Senha)</td>
        </tr>
        <tr>
            <td><input type="submit" value="Login" /></td>
        </tr>
    </table>
}

@section Scripts{
     @Scripts.Render("~/bundle/jqueryval")
}
